<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>UTS / Data Repository / <% title %></title>

    <link rel="icon" type="image/vnd.microsoft.com" href="http://ic2-ms22-staging1-vm.intersect.org.au/mint/default/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/screen.css">
    
                
  </head>
    <body>

        <div class="grid_16 branding">
          <a href="/">
            <img src="/images/utslogo.png" align="left" height="30"> &nbsp; UTS Research Data Repository </a>
        </div>

        <div class="grid_16">
        <div class="grid_4">
        </div>
        <div style="float:clear" class="grid_12">
        <% content %>
      </div>

</body></html>
