/* Stylesheet for research data set landing pages */

/* Basic text styles */

/*
p {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
}

div.footer { 
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 11px;
}

td {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
}

th {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
    text-align: left;
}


h1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

td.label {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
}

*/
/* Datastream list */



tr.datastream > td {
    padding-right: 1em;
}

a.download {
    text-decoration: none;
}