Cell Type/Tissue: <span id="celltype">[% Cell_Type_Tissue %]</span><br />
Experiment Type: <span id="experimenttype">[% Experiment_Type %]</span><br />
Slides: <span id="slides">[% Slides %]</span><br />
Dishes: <span id="dishes">[% Dishes %]</span><br />
Multiwell Chambers: <span id="multiwell">[% Multiwell_Chambers %]</span><br />
[% IF Other_Equipment == "Yes" %]
Other Equipment: <span id="">[% Specify_Other_Equipment %]</span><br />
[% END %]
[% IF Has_Fluorescent_Proteins == "Yes" %]
Fluorescent Proteins: <span id="fluorescentproteins">[% Fluorescent_Protein_1 %]
[% IF Fluorescent_Protein_2 %]; [% Fluorescent_Protein_2 %][% END %]
[% IF Fluorescent_Protein_3 %]; [% Fluorescent_Protein_3 %][% END %]</span><br />
[% END %]
Has Specific Dyes: <span id="hasspecificdyes">[% Has_Specific_Dyes %]</span><br />
[% IF Has_Immunofluorescence == "Yes" %]
Immunofluorescence: <span id="immunofluorescence">[% Immunofluorescence_1 %]
[% IF Immunofluorescence_2 %]; [% Immunofluorescence_2 %][% END %]
[% IF Immunofluorescence_3 %]; [% Immunofluorescence_3 %][% END %]</span><br />
[% END %]
