[% IF Other_Equipment == "Yes" %]
   [% Specify_Other_Equipment %]
[% END %]

In experiment [% Experiment_Name %] [% IF Experiment_Type %] ([% Experiment_Type %])[% END %],
[% INCLUDE containers %] of [% Cell_Type_Tissue %] were observed using a [% Instrument_Name %] microscope.

[% IF Has_Specific_Dyes %]Specific dyes were [% IF Specific_Dye_1 %][% Specific_Dye_1 %][% END %][% IF Specific_Dye_2 %]; [% Specific_Dye_2 %][% END %][% IF Specific_Dye_3 %]; [% Specific_Dye_3 %][% END %][% IF Specific_Dye_4 %]; [% Specific_Dye_4 %][% END %].[% END %]

[% IF Has_Fluorescent_Proteins %]Fluorescent proteins employed were [% Fluorescent_Protein_1 %][% IF Fluorescent_Protein_2 %]; [% Fluorescent_Protein_2 %][% END %][% IF Fluorescent_Protein_3 %]; [% Fluorescent_Protein_3 %][% END %][% END %]

[% IF Has_Secondary_Antibodies %]The secondary antibodies employed were [% Has_Secondary_Antibodies %][% END %]

The resulting dataset consists of [% manifest %]

[% IF Instrument_Name == "Nikon A1 Confocal" %]
The ND2 files are produced in Nikon NIS Elements 3.22.11 and viewable as 'movies' in NIS Elements. http://www.nikoninstruments.com/en_GB/Products/Software/NIS-Elements-Viewer  The TIF files are still images.
[% END %]


[% BLOCK containers %]
    [% IF Slides == "Yes" %]slides[% END %]
    [% IF Slides == "Yes" && Dishes == "Yes" %]
       [% IF Multiwell_Chambers == "No" %] and [% ELSE %], [% END %]
    [% END %]
    [% IF Dishes == "Yes" %]dishes[% END %]
    [% IF ( Slides == "Yes" || Dishes == "Yes" ) && Multiwell_Chambers == "Yes" %] and [% END %]
    [% IF Multiwell_Chambers == "Yes" %]multiwell chambers[% END %]
[% END %]

